# kubeadm-config.yaml
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
skipPhases:
  - addon/kube-proxy
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: "v{{ KUBERNETES_VERSION }}"
controlPlaneEndpoint: "{{ CTRLPLN_ENDPOINT }}:6443"
apiServer:
  extraArgs:
    service-account-issuer: "{{ SA_ISSUER_URL }}"
    service-account-jwks-uri: "{{ SA_ISSUER_URL }}/openid/v1/jwks"
clusterName: "hub-cluster"
networking:
  podSubnet: 10.244.0.0/16
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
